<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<title> create1</title>
</head>
<body>
<h1>Create Assignment form</h1>

<form>
<ul>
<label for="userid">Assignment title</label>
<input type="text" name="userid" size="50" />
<br><br>
<select name="type">
<option selected="" value="Default">Type of Question</option>
<option value="S">Subjective</option>
<option value="O">Objective</option>
<option value="B">Block</option>
</select><br><br>   

<label for="userid">Enter question</label>
<input type="text" name="userid" size="50" />

<br><br>
<label for="Answ">Enter Answer</label>
<input type="text" name="ans" size="100" />
<br><br>

<input type="submit" name="Submit" value="Generate code" />
<h2>Share the code</h2>
</ul>
</form>
</body>
</html>
