<!DOCTYPE html>
<html>
   <head>
      <title>Login</title>
   </head>	
  <body>  
    <form action="">  
         <h1>LOGIN HERE</h1><br>
        <label>Enter the Username</label>  
        <input type="text" name="username" />  
        <br>
        <label>Enter the Password</label>  
        <input type="password" name="password"  />  
        <br>
        <select name="type">
        <option selected="" value="Default">Select option</option>
        <option value="AF">Teacher</option>
        <option value="AL">Student</option>

</select><br>
        <input type="submit" value="Login" name="submit" class="submit" />  
    </form>  
</body> 
</html>