<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<title> registration form</title>
</head>
<body>
<h1>Registration Form</h1>

<form>
<ul>
<label for="userid">User id:</label>
<input type="text" name="userid" size="12" />

<br><br>
<label for="passid">Password:</label>
<input type="password" name="passid" size="12" />
<br><br>

<label for="username">Name:</label>
<input type="text" name="username" size="50" /><br><br>
<label for="address">Address:</label>
<input type="text" name="address" size="50" /><br><br>
<label for="type"></label>


<select name="type">
<option selected="" value="Default">Select option</option>
<option value="AF">Teacher</option>
<option value="AL">Student</option>

</select><br><br>
<label for="email">Email:</label>
<input type="text" name="email" size="50" /><br><br>
<label id="gender">Sex:</label>
<input type="radio" name="msex" value="Male" /><span>Male</span>
<input type="radio" name="fsex" value="Female" /><span>Female</span>
<br><br>
<input type="submit" name="submit" value="Submit" />
</ul>
</form>
</body>
</html>
